[package]
name = "pr47"
version = "0.1.1"
authors = ["ICEY <icey@icey.tech>"]
edition = "2018"
description = "A semi-experimental programming language. Still working in progress."
readme = "../README.md"
repository = "https://github.com/Pr47/Pr47"
license = "MIT"
resolver = "2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
pollster = "0.2"
pr47-codegen = "0.0.2"
unchecked_unwrap = "3"
xjbutil = { version = "0.2", default-features = false, features = [
    "defer",
    "either",
    "korobka",
    "makro",
    "mem",
    "std-ext",
    "unchecked",
    "wide_ptr",
    "void"
] }

async-std = { optional = true, version = "1" }
futures = { optional = true, version = "0.3" }
phf = { optional = true, version = "0.10", features = ["macros"] }
smallvec = { optional = true, version = "1" }
tokio = { optional = true, version = "1", features = ["rt", "sync", "time"] }
unicode-width = { optional = true, version = "0.1" }

[dev-dependencies]
tokio = { version = "1", features = ["rt-multi-thread"] }
variant_count = "1"

[features]
default = ["async-tokio", "compiler", "compiler-pretty-diag", "optimized-rtlc", "std47"]

compiler = ["phf", "smallvec"]
compiler-pretty-diag = ["unicode-width"]
no-rtlc = []
optimized-rtlc = []
bench = []
huge-align = []
std47 = []

async-tokio = ["async", "tokio", "xjbutil/async-tokio"]
async-astd = ["async", "async-std", "xjbutil/async-astd"]
async = ["futures", "xjbutil/async"]

# Compiler testing binaries
[[bin]]
name = "token47"
path = "bin/token47.rs"
required-features = ["compiler", "compiler-pretty-diag"]

# Benchmarking
[[bin]]
name = "bench_al31fm2_sync"
path = "raw_benches/bench_al31fm2_sync.rs"
required-features = ["bench"]

[[bin]]
name = "bench_al31fm2"
path = "raw_benches/bench_al31fm2.rs"
required-features = ["bench", "async"]
